<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtds.mapper.SysAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qtds.entity.SysAdmin">
        <id column="aid" property="aid" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        aid, login_name, password,  deleted
    </sql>

</mapper>
