<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form layui-form-pane" th:object="${customer}">
            <div class="layui-form-item">
                <input type="hidden" name="cid" th:value="*{cid}">
            </div>
            <div class="layui-form-item">
                <label for="L_input1" class="layui-form-label">
                    <span class="x-red">*</span>姓名</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_input1" class="layui-input" autocomplete="off"
                           name="cname" th:value="*{cname}" lay-verify="required"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_input2" class="layui-form-label">
                    <span class="x-red">*</span>身份证</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_input2" class="layui-input" autocomplete="off"
                           name="identityNum" th:value="*{identityNum}" lay-verify="identity"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_input3" class="layui-form-label">
                    <span class="x-red">*</span>手机号</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_input3" required="" autocomplete="off" class="layui-input"
                           name="telPhone" th:value="*{telPhone}" lay-verify="phone"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_input4" class="layui-form-label">
                    <span class="x-red">*</span>状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" id="L_input4" lay-skin="switch" lay-text="在住|未在住"
                           name="state" th:checked="*{state==0}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="edit" lay-submit="">修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    layui.use(['form', 'layer','jquery'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;
            //监听提交
            form.on('submit(edit)', function (data) {
                $.ajax({
                    url: "/customer/doUpdate",
                    data: data.field,
                    success: function (data) {
                        parent.layer.msg(data.msg, {icon: 6, time: 500},function (){
                            parent.location.reload();
                            xadmin.close();
                        })
                    },
                    error: function () {
                        parent.layer.msg("修改失败!");
                    }
                });

                return false;
            });
        });
</script>
</body>

</html>
